* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    box-sizing: border-box;
	vertical-align: baseline;
}

body {
    font-size: 18px;
    font-family: sans-serif;
    color: rgb(39, 55, 77);
}

ul {
    list-style-position: inside;
}

h2 {
    margin-bottom: 1em;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(39, 55, 77);
}

.section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6%;
}

.header {
    margin-bottom: 2em;
}

.big-header {
    font-size: 40px;
    margin-top: 0.2em;
    margin-left: -3px;
}

.left-section {
    flex: 1 1 20%;
    color: white;
}

.right-section {
    flex: 1 1 40%;
    text-align: center;
    background-color: white;
    border-radius: 20px 0 0 20px;
}

#winner {
    font-size: 30px;
    font-weight: 600;
    margin: 2em 0;
}

.scores-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8%;
}

.score-style {
    font-size: 80px;
    padding: 10px 0;
}

.game-buttons {
    display: flex;
    justify-content: center;
}

.button-style {
    padding: 3.4em;
    margin: 1em;
    text-align: center;
    background-color: rgb(221, 230, 237);
    color: rgb(39, 55, 77);
}

@media screen and (max-width: 600px) {
    .left-section {
        height: auto;
    }

    .right-section {
        height: auto;
        padding-top: 10%;
    }

	.game-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .button-style {
        padding: 1em;
        margin: 1em;
    }
}